.join-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.join-form {
  background-color: #202027;
  width: 70vw;
  max-width: 75%;
  min-height: 50vh;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.join-text {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

.accent-text {
  color: #bc3a80;
}

.tree-girl {
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .join-main-section {
    flex-direction: column;
    justify-content: center;
  }
}
