.contact-us-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.contact-ipad-form {
  background-color: #dea2a2;
  width: 70vw;
  max-width: 75%;
  min-height: 50vh;
  padding: 2rem 4rem;
  border-radius: 20px;
  border-bottom-style: inset;
}

.illu-contact {
  width: 550px;
  align-items: center;
  height: auto;
}

@media (max-width: 900px) {
  .contact-us-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .contact-us-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}

.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #bb3a7f1a;
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.contact-us-page-circle-1::before {
  content: "";
  transform: translateX(-20%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(188, 58, 128, 0.1);
}

.home-page-circle-2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #2f2c5e70;
  top: 15vh;
  left: 30vw;
  z-index: -1;
}

.home-page-circle-3 {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.home-page-circle-3::before {
  content: "";
  transform: translateY(-30%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(22, 152, 70, 0.057);
}
