*,
*::before,
*::after {
  box-sizing: border-box;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.outer-box {
  background-color: #202027;
  width: 70vw;
  max-width: 75%;
  min-height: 50vh;
  /* padding: 2rem 4rem; */
  border-radius: 20px;
  border-style: inset;
}

.inner-box {
  position: absolute;
  background-color: #aeaeb4;
  width: 37vw;
  height: 25vw;
  border-radius: 5px;
  color-interpolation-filters: 24vh;
  left: 38.6vw;
}

@media (max-width: 900px) {
  .podcast-home-main-section,
  .outer-box,
  .inner-box {
    flex-direction: column;
    justify-content: center;
  }
}
